.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.ask-question{
    Padding-inline: .5rem ;
    padding-top: .3rem;
    gap: 15px;
    width: fit-content;
}

.input-div{
    margin: 1rem 0;
    display: flex;
}

.ask-question .input-div label{
    font-size: 2rem;
    margin: 0.25rem;
}


.ask-question .input-div input{
    width: 45vw;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #C5C5C5;
    padding-left: 3px;
}

.container .ask-question .tags{
    margin-block: 5rem;

}

.container .ask-question  .input-field{
    
}

.container .ask-question .tags span{
   background-color: #d1cece;
   padding: 2px 5px;
   border-radius: 2px;
   font-size: .8rem;
   font-weight: 500;
   margin-right: 5px;
}
.container .ask-question .tags span button{
    margin-left: .3rem;
    font-weight: 700;
    border: none;
    background-color: transparent;
    font-size: .9999rem;
    cursor: pointer;
    color: tomato;
}

.container .ask-question .tags span button:hover{
    color: red;
}


@media screen and (max-width: 390px) {
    .ask-question .input-div input{
        width: 100%;
    }
}

.ask-question .input-div input:focus{
    outline: solid 1px #afafafed;
}

.ask-question .input-div button{
    margin: 2.5rem .3rem 0 .3rem;
    color: white;
    padding: 0.25rem;
    border: none;
    height: fit-content;
    border-radius: 4px;
    background-color: #4886B1;
    /* padding-inline:.5rem ;
    padding-block:.1rem ; */
    font-weight: 600;
    font-size: .9rem;
}
