.answers{
    width: 65vw;
    border: 1px solid red;
}

@media screen and (max-width:1000px) {
    .answers{
       width: 78vw;
 
    }
}

@media screen and (max-width:760px) {
    .answers{
       width: 74vw;
 
    }
}

@media screen and (max-width:700px) {
    .answers{
       width: 100vw;
 
    }
}