.login-form{
    margin-top: 10rem;
    width: 17rem;
    height: 17rem;
    border-radius: 10px;
    box-shadow: 3px 5px 9px rgba(0, 0, 0, 0.397);   
    
}

.login-form form{
   
    height: 100%;
    padding-block: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.login-form form div{
    width: 11rem;
    
}

.login-form form div input{
    width: 100%;
    height: 1.5rem;
   
}

.login-form form .login-signup{
    font-size: .6rem;
    text-align:  right;
}

.login-form form .login-signup{
    margin-top: 5px;
}

.login-form form .login-signup span .span-signup{
    text-decoration: none;
    font-weight: 500;
    color: #26308E;
}

.login-form form button{
    padding-block: 5px;
    background-color: #2F3B47;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    width: 100%;
}