.answer-card{
    padding-inline: .9rem;
    padding-top: .9rem;
    
}

.answer-card .answers{
    margin-left: 1rem;
    font-size: .9rem;
}

.answer-card #comment{
    font-size: .9rem;
    color:  rgb(51, 51, 158);
}

.answer-card .question{
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .question-title{
    padding-inline: .3rem;
    padding-bottom: .4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .question-title h3{
    font-size: 24px;
    margin: 0 10px 0 0;
}

.answer-card .div-likes{
    float: right;
}
