.answer-card{
    padding-inline: .9rem;
    padding-top: .9rem;
}

.answer-card .answers{
    margin-left: 1rem;
    font-size: .9rem;
    position: relative;
    display: flex;
}

.answer-card .answers .verified-check{
    padding-top: 20px;
    padding-left: 2px;
}

.answer-card #comment{
    font-size: .9rem;
    color:  rgb(51, 51, 158);
}

.answer-card .question{
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .question-title{
    padding-inline: .3rem;
    padding-bottom: .4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .question pre{
    background-color: #f6f6f6;
    border-radius: 5px;
    color: black;
    font-size: .7rem;
    font-weight: 500;
    padding: 3px;
}

.answer-card .mark-pref-menu{
    position: absolute;
    top: 0px;
    right: 0px;
}

.answer-card .mark-pref-menu ul{
    list-style: none;
    position: absolute;
    padding: 2px 3px;
    border-radius: 2px;
    font-size: .5rem;
    background-color: #FAFAFA;
    box-shadow: 1.8px 1.5px 3px black;
}


.answer-card .mark-pref-menu ul li:hover{
    color-scheme: green;
    cursor: pointer;
}

.answers .hideComponent{
    display: none;
}

.answer-card .question-title h3{
    font-size: 24px;
    margin: 0 10px 0 0;
}

.answer-card .div-likes{
    float: right;
}
