.answer-card{
    padding-inline: .9rem;
    padding-top: .9rem;
}

.answer-card .answers{
    margin-left: 1rem;
    font-size: .9rem;
    position: relative;
}

.answer-card #comment{
    font-size: .9rem;
    color:  rgb(51, 51, 158);
}

.answer-card .question{
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .question-title{
    padding-inline: .3rem;
    padding-bottom: .4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C5C5C5;
}

.answer-card .mark-pref-menu{
    position: absolute;
    top: 0px;
    right: 0px;
}

.answer-card .mark-pref-menu ul{
    list-style: none;
    position: absolute;
    padding: 1px 3px;
    border-radius: 2px;
    font-size: .5rem;
    background-color: #FAFAFA;
    box-shadow: 3px 1.5px 5px black;
}

.answers .hideComponent{
    display: none;
}

.answer-card .question-title h3{
    font-size: 24px;
    margin: 0 10px 0 0;
}

.answer-card .div-likes{
    float: right;
}
