.left-tab{
    padding-inline: 1.8rem;
    padding-top: .7rem;
    border-right: 1.8px solid #A59F9F ;
    margin-left: .4rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
    height: 90vh;
}

.left-tab ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}


.left-tab ul .left-tab-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.499);
    transition: 1s;
}

.left-tab ul .left-tab-link:hover{
    color: rgba(0, 0, 0);
}

.left-tab ul li ul{
    margin-left: 2rem;
}

@media screen and (max-width:700px) {
    
    .left-tab{
        display: none;
    }

}